.card-total{
  box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

.card-cabecalho{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #6d466b;
  color: white;
}

.botoes{
  display: flex;
  justify-content: space-between;
}


