header{
  position: relative;
  background-color: #412234;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

.container-header{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a{
  color: #B49FCC;
}

a:hover{
  background-color: #6d466b;
}

a span{
  background-color: #B49FCC;
  color: #efd6d6;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}

a.logo{
  padding: 1rem;
}

ul{
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a{
  padding: 1rem;
  display: inline-block;
}

.menu-container{
  position: relative;
}

.menu{
  position: absolute;
  z-index: 1;
  background-color: #efd6d6;
  display: none;
}

.menu-container:hover .menu{
  display: block;
}

.menu a{
  width: 100%;
  min-width: 8rem;
}
